C:/Users/Administrator/Documents/Rockwell[[:space:]]Automation/FactoryTalk[[:space:]]Optix/Projects/Cargill_Charlotte_wStandards/Nodes/CommDrivers/RA_ENIP/CHRL_XFER/Tags/Controller_Tags/controller_tags.yaml filter=lfs diff=lfs merge=lfs -text
